.movieComp{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 1px solid gray;
    width: 50vw;
    height: 50vh;
}
.header{
    display: flex;
    justify-content: space-between;
}
.fetchData, .companyInfo{
    margin-left: 2rem;
}
